* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color : #0CC1FF;
  }

  #main {
    
  }

  #home img{
    height : 100vh;
    width : 96.5vw;
   }
 
  .campus-album {
    height: 300px;
    /*width: 400px;*/
    overflow: hidden;
}

.campus-album img {
    height: 100%;
    width: 100%;
}
  
  